<div class="channel-profile-container">
  <img class="channel-avatar"
       width="80"
       height="80"
       [ngSrc]="channel() && channel().photoUrl ? channel().photoUrl! : 'https://material.angular.dev/assets/img/examples/shiba1.jpg'!"/>

  <div class="channel-text">
    <span class="channel-title">{{ channel() && channel().title ? channel().title : ls.t.addChannel  }}</span>
    <span class="channel-subtitle">{{ channel() && channel().platform ? channel().platform : ""  }}</span>
  </div>
</div>

<mat-divider class="profile-divider"></mat-divider>
