<button mat-list-item class="sidebar-footer-button" (click)="languageSelect.toggle()">
  <mat-icon matListItemIcon>language</mat-icon>
  <mat-select #languageSelect (click)="$event.stopPropagation()" (selectionChange)="ls.changeLang(languageSelect.value)" [value]="ls.t.languageName">
    <mat-select-trigger>{{ ls.t.language }}</mat-select-trigger>
    @for (language of ls.avaliableLangs!.keys(); track $index)
    {
      <mat-option [value]="language">{{language}}</mat-option>
    }
  </mat-select>
</button>
