<div (drop)="onFileDrop($event)" (dragover)="onFileDragOver($event)" (dragleave)="onFileDragLeave($event)" class="drop-zone-container">
  @if (isFileDraggedOver && !whatDeviceService.isPhone())
  {
    <div class="fileDragNDrop-overlay">
      <div class="drop-zone-content">
        <div class="drop-zone-border">
          <div class="centered-content">
            <mat-icon class="drop-icon">image</mat-icon>

            <h2 class="drop-title">{{ls.t.dropVideos}}</h2>
            <p class="drop-subtitle">{{ls.t.inAQuickWay}}</p>
          </div>
        </div>
      </div>
    </div>
  }
  <ng-content></ng-content>
</div>
