.example-container {
  height: 85vh;
  overflow: auto;
}

.select-column {
  padding: unset;
}
.example-container table {
  max-width: 70%;
  background-color: transparent;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.table-restricter {
  height: 80%;
}

.mat-column-select {
  overflow: initial;
}
