<div class="centered-element table-restricter">
  <cdk-virtual-scroll-viewport class="example-container" [itemSize]="52" [maxBufferPx]="1200" [minBufferPx]="400">
    <table mat-table [dataSource]="videoDataSource()" class="mat-elevation-z8 demo-table" matSort>
      <!-- Checkbox Selection Template -->
      <ng-container matColumnDef="selection">
        <th class="select-column" mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td class="select-column" mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Thumbnail Template -->
      <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
        <td mat-cell *matCellDef="let element">
          <img [ngSrc]="element.thumbnailURL"
               alt="Thumbnail"
               width="80" height="45">
        </td>
      </ng-container>
      <!-- Title and details Template -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title and details </th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>
      <!-- Status Template -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">{{element.publishStatus}}</td>
      </ng-container>
      <!-- Publish Date Template -->
      <ng-container matColumnDef="publishDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Publish Date </th>
        <td mat-cell *matCellDef="let element">{{element.publishDate | date:'d/LLL/y h:mm aa'}}</td>
      </ng-container>
      <!-- Additional buttons Template -->
      <ng-container matColumnDef="additionalButtons">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button matIconButton value="edit">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header appearance-->
      <tr mat-header-row *matHeaderRowDef="whatDeviceService.isPhone() ? columnsToDisplayOnPhone : columnsToDisplay"></tr>
      <!-- Columns(element) appearance-->
      <tr mat-row *matRowDef="let myRowData; columns: whatDeviceService.isPhone() ? columnsToDisplayOnPhone : columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20, 50]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </cdk-virtual-scroll-viewport>
</div>
