<mat-divider></mat-divider>
<mat-nav-list>
  <button mat-list-item class="sidebar-footer-button">
      <mat-icon matListItemIcon>language</mat-icon>
      <mat-select  #languageSelect (selectionChange)="ls.changeLang(languageSelect.value)" [value]="ls.t.languageName">
        <mat-select-trigger>{{ ls.t.language }}</mat-select-trigger>
        @for (language of ls.avaliableLangs!.keys(); track $index)
        {
          <mat-option [value]="language">{{language}}</mat-option>
        }
      </mat-select>
  </button>

  <button mat-list-item class="sidebar-footer-button">
    <mat-icon matListItemIcon>feedback</mat-icon>
    <span matListItemTitle>{{ls.t.feedback}}</span>
  </button>
</mat-nav-list>
