:host {
  display: block;
  padding: 8px;
  height: 100vh;
}

.getterInCenter {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 800px;
}
