<mat-button-toggle-group name="mode" appearance="standard"
                         [value]="workspaceService.mode"
                         [hideSingleSelectionIndicator]="true"
                         (change)="onChangeModeEvent.emit($event.value);
                         workspaceService.mode = $event.value;">
  <mat-button-toggle value="calendar">
    <mat-icon>calendar_month</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="list">
    <mat-icon>lists</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
