<!-- LIST OF CHANNELS -->
<h2 class="section-title">{{ ls.t.channels }}</h2>
<ul class="custom-channel-list">
  @for (channel of channels(); track $index) {
    <li>
      <app-channel-item [channel]="channel" (toggleEvent)="chooseChannel(channel, $event)"/>
    </li>
    <mat-divider class="half-transparent"></mat-divider>
  }
  <!-- ADD NEW CHANNEL BUTTON-->
  <div class="add-button-container">
    <button matButton="tonal" class="add-button" (click)="youtubeService.redirectToGoogleAuthChannel()">
      {{ls.t.addChannel}} <mat-icon>add</mat-icon>
    </button>
  </div>
</ul>
