.example-container {
  height: 85vh;
  overflow: auto;
}

.table-container-grid {
  display: grid;
  place-items: center;
  min-height: 100vh;

  table {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ccc;
  }
}
