<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenavComponent
               [ngClass]="{
               'main-nav': true,
               'main-nav-phone': whatDeviceService.isPhone()
               }"
               mode="side"
               [opened] = "!whatDeviceService.isPhone()">
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->
    Start
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- Main Content ||| Outlet (content by page-path (e.g /contacts) )-->
    <!-- ============================================================== -->
    <app-header-navbar (toggleMenu)="sidenavComponent.toggle()"></app-header-navbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
