<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenavComponent
               [ngClass]="{
               'main-nav': true,
               'main-nav-phone': whatDeviceService.isPhone()
               }"
               [mode]="whatDeviceService.isPhone() ? 'over' : 'side'"
               [opened] = "!whatDeviceService.isPhone()">
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->
    <app-nav-logo></app-nav-logo>
    <app-nav-header [channel]="fakeChannels[0]"></app-nav-header>
    <app-item-select-list></app-item-select-list>
    <div class="spacer"></div>
    <app-bottom-actions-navbar></app-bottom-actions-navbar>
  </mat-sidenav>

  <mat-sidenav-content style="overflow: hidden;">
    <!-- ============================================================== -->
    <!-- Main Content ||| Outlet (content by page-path (e.g /contacts) )-->
    <!-- ============================================================== -->
    <app-header-navbar (toggleMenu)="sidenavComponent.toggle()"></app-header-navbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
