<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenavComponent
               [ngClass]="{
               'main-nav': true,
               'main-nav-phone': whatDeviceService.isPhone()
               }"
               mode="side"
               [opened] = "!whatDeviceService.isPhone()">
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->
    Start
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- Main Content ||| Outlet (content by page-path (e.g /contacts) )-->
    <!-- ============================================================== -->
    @if (whatDeviceService.isPhone()) {
      <button matIconButton aria-label="Close/Open menu" (click)="sidenavComponent.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
