<mat-form-field subscriptSizing="dynamic" class="styled-field" style="width: 100%;">
  <button matIconButton matPrefix (click)="fileInput.click()"><mat-icon>link</mat-icon></button>
  <input matInput placeholder="{{ls.t.pasteGDriveLink}}" [value]="workspaceService.fileLabels" ]>
  <button matSuffix matButton="filled" (click)="uploadChanges()">{{ls.t.upload}}</button>
  <mat-hint>{{ls.t.getFileHint}}</mat-hint>
</mat-form-field>

<input
  type="file"
  #fileInput
  style="display: none"
  accept="video/*, .mp4, .mov, .avi, .mkv"
  (change)="handleFiles($event)"
  multiple>
